#validCard {
    display: none;
}

#rejectedCard {
    display: none;
}

#successfull {
    display: none;
}

header {
    text-align: center;
    background: #006db3;
    color: white;
    font-size: 20px;
    padding: 20px;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    background: #006db3;
}

h4 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

footer {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: #006db3;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    width: 98.5%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

body {
    background: #e5e5e5;
    height: 100%;
    padding: 0;
    margin: 0;
}

.form {
    padding-left: 50px;
    padding-right: 50px;
}

.formulario {
    display: grid;
    gap: 20px;
    margin-left: 30%;
    margin-right: 30%;
    grid-template-columns: 1fr 1fr;
    transform: translate(50% 50%)
}

.formulario .one {
    grid-column: 1/3;
    grid-row: 1;
}

.formulario .three {
    grid-column: 1/4;
    grid-row: 2;
}

.formulario .four {
    grid-column: 1;
    grid-row: 3;
}

.formulario .five {
    grid-column: 2;
    grid-row: 3;
}

.formulario .six {
    grid-column: 3;
    grid-row: 3;
}

.formulario .block {
    grid-column: 1/4;
    grid-row: 4;
}

.formLabel {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
}

.formulario__group-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    transition: .3s ease all;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.formulario__input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

p.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

p.formulario__input-error-activo {
    display: block;
    font-family: 'Nunito', sans-serif;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__grupo-btn-send {
    text-align: center;
    margin-right: 5px;
}

.formButton {
    height: 45px;
    line-height: 45px;
    width: 100px;
    background: blue;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 3%;
}

.formButton:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
    background: #fff;
    color: blue;
    border: 1px solid;
    border-color: blue;
}

.formulario__group-correct .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__group-incorrect .formLabel {
    color: #bb2929;
}

.formulario__group-incorrect .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__group-incorrect .formulario__input {
    border: 3px solid #bb2929;
}

.formulario__group-validCard {
    padding: 30px;
    transform: translate(50% 50%);
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 10%;
}

.formulario__group-rejectedCard {
    transform: translate(50% 50%);
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.formulario__group-successfull {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.successfull {
    margin: 30px;
    width: 150px;
    height: 150px;
}

.img-card {
    margin: -10px;
    position: absolute;
    width: 40px;
    height: 40px;
    padding-left: 10px;
    transform: translateX(20%);
}

@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }
    .formulario__grupo-btn-send {
        grid-column: 1;
    }
}